# Project files
.env
.env.*
.docs


# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.vscode/
